div.file-3D,
div.videofile{
	position: relative;
	width: 100%;
	height: 100%;
}	

div.file-3D .stl-file{
	background-image: url(images/msu-3D.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	margin: 5px;
	background-position: 0 0;
}

div.videofile .mp4-file{
	background-image: url(images/msu-play-verysmall.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	padding: 5px;
}	

.carousel-thumb .stl-file{
	background-size: 38px;
}

.item .stl-file{
	background-size: auto;
}

.item .mp4-file{
	display: none;
}

.step-number-container .step-number {
	width: auto;
    background: #f1f1f1;
    padding: 9px;
    height: auto;
    float: left;
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.9em;
    border: 1px solid #ddd;
    border-right: 0;
    border-radius: 3px 0 0 3px;
}

.step-number-container .step-title-numeroted {
	overflow: hidden;
}

#pfForm .step-number-container .step-title-numeroted .createboxInput.form-step-title {
	border-radius: 0 3px 3px 0;
}
